/* Dashboard page css */
.dashboard_page .slider-image {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px !important;
}

.dashboard_page .image-grid div:nth-child(odd) {
    padding-right:2px;
}

.dashboard_page .image-grid div:nth-child(even) {
    padding-left:2px;
}

.dashboard_page .image-grid div:nth-child(3) {
    padding-top:3px;
}

.dashboard_page .image-grid div:nth-child(4) {
    padding-top:3px;
}

.dashboard_page .image-grid {
    padding: 20px;
}

.dashboard_page .text-grid {
    padding: 20px;
    padding-top: 0px;
}

.dashboard_page .text-grid .text-block {
    padding-top: 15px;
    font-size: 13px;
    opacity: 0.8;
}

.dashboard_page .complaint_slider .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.dashboard_page .complaint_slider .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -20px;
    display: block !important;
    border:0px solid black;
}

.dashboard_page .complaint_slider .owl-item {
    cursor:pointer;
}

.dashboard_page .pdf_icon {
    font-size: 30px;
    padding-top: 8px;
    color: red;
    cursor: pointer;
}

.dashboard_page #close_cases_filter input {
    height:35px !important;
}

.dashboard_page #close_cases_wrapper .dataTables_length select{
    height:35px !important;
}

.dashboard_page .fa_right_check {
    font-size: 20px;
    color: green;
}

.dashboard_page .m_t_5 {
    margin-top:5px;
}

.dashboard_page .m_t_10 {
    margin-top:10px;
}

.dashboard_page .m_t_15 {
    margin-top:15px;
}

.dashboard_page .m_t_20 {
    margin-top:20px;
}

.dashboard_page .m_t_25 {
    margin-top:25px;
}

.dashboard_page .m_t_30 {
    margin-top:30px;
}

.dashboard_page .m_t_35 {
    margin-top:35px;
}

.dashboard_page .arrow_icon {
    position: relative;
    top: 3px;
}

.dashboard_page .radio_label {
    font-weight: 400;
    font-size: 13px;
    opacity: 0.8;
}

.dashboard_page .label_margin_bottom_0px {
    margin-bottom: 0px;
}

.dashboard_page .modal .modal-dialog {
    margin-top: 50px;
}

.dashboard_page .message_box {
    font-size: 12px;
    padding: 10px;
    padding-bottom: 25px;
    opacity: 0.8;
    border: 1px solid #ccc;
}

.dashboard_page .hide {
    display:none;
}

.dashboard_page .radio_button_back {
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
}


@media screen and (min-width: 992px) {
    .dashboard_page .modal-xl {
        max-width: 90% !important;
    }

    .dashboard_page .modal-lg {
        max-width: 70% !important;
    }
}
